@import "~@protego/sdk/RegtankUI/v1/styles/global.scss";
.PageHeading {
  margin: 0 !important;
  padding: 0 !important;
}
.header {
  margin-bottom: toRem(24);
}

.matchDetailContainer {
  border: 1px solid $grayText1;
  border-radius: 8px;
  height: 100%;
  background-color: $white;
}
.export {
  min-width: toRem(113);
}
.iconBack {
  color: $bodyText;
  padding: 0;
}
.wMatchInfo {
  width: toRem(522);
  height: 100%;
}
