@import "~@protego/sdk/styles/global/_global-dir";

.headerPopup {
  background: #0080ff;
  padding-left: rem(32px);
  font-size: rem(21px);
}
.label {
  color: #494949;
  font-size: rem(17px);
  margin-bottom: rem(8px);
  font-style: normal;
  font-weight: normal;
}
.contentHeight {
  height: rem(540px);
}
.icActivityLog {
  margin-right: rem(8px);
}
.viewMore {
  color: #0080ff;
  cursor: pointer;
}
.textNote {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.dropdownButton {
  color: #444444;
  box-shadow: none;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  &:hover {
    background: #ffffff;
    box-shadow: none;
  }
  width: 100%;
  font-size: rem(15px);
}

.DialogWrap{
  position: absolute !important;
}
