@import "~@protego/sdk/RegtankUI/v1/styles/global.scss";

.JRCard {
  background-color: transparent;
  padding: 0;

  & > :global(.MuiGrid-container) {
    padding: toRem(24);
    background-color: #fff;
    border: 1px solid $grayText1;
    box-sizing: border-box;
    border-radius: 8px;
  }
}

.ReleaseNoteTitle {
  font-weight: 600;
  font-size: toRem(18);
  line-height: toRem(24);
  letter-spacing: toRem(0.2);
  color: #000;
}

.ReleaseNoteDate {
  font-size: toRem(18);
  line-height: toRem(24);
  letter-spacing: toRem(0.2);
  color: $defaultDark;
}

.ReleaseNoteSmallTitle {
  font-weight: 500;
  font-size: toRem(16);
  line-height: toRem(24);
  letter-spacing: toRem(0.1);
  color: #000;
}

.ReleaseNoteContentText {
  font-weight: normal;
  font-size: toRem(16);
  line-height: toRem(24);
  letter-spacing: toRem(0.1);
  color: $mainBlackText;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
