@import "~@protego/sdk/RegtankUI/v1/styles/global.scss";

$gutter: toRem(35);
$colorPrimary: $primary;
$colorGray: $grayText1;
$red: $errorBorder;
$green: $green;
.container {
  :global(.MuiSwitch-root) {
    margin-left: 0;
  }
  :global(.MuiDivider-root) {
    background-color: $colorGray;
    height: 1px;
  }
}
.SectionDetail {
  .CopyButton {
    margin-top: toRem(-12);
    margin-bottom: toRem(-12);

    div {
      line-height: toRem(20);
    }
  }
}
.UserInfo {
  composes: d-flex from global;

  .Field {
    margin-bottom: toRem(24);
  }
  > div {
    word-break: break-word;
    flex: 1 1 auto;
    padding: {
      left: toRem(25.5);
      right: toRem(25.5);
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  [data-border-right] {
    border-right: 1px solid $extraWhiteLight;
  }
}

.Search {
  visibility: visible;
}
.SearchResult {
  font-size: toRem(21);
}

.Table {
  :global(.MuiTableCell-root:first-child) {
    padding-left: toRem(24) !important;
    min-width: toRem(92) !important;
  }
  .CopyButtonRoot {
    display: flex;
    align-items: center;
    :global(.MuiCopyButton-copyButton svg) {
      width: toRem(17);
    }
  }
  :global(.MuiTableCell-root) {
    text-align: left;
  }
  .CopyButton {
    margin-top: toRem(-12);
    margin-bottom: toRem(-12);
  }
  .TableIdColumn {
    height: toRem(22);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.5;
}

.maxHeighMenuPaperAssignee {
  max-height: toRem(500);
}

.switchesWrapper {
  padding: 0;
  @media (max-width: 1440px) {
    padding: toRem(2) 0 toRem(6);
  }
  @media (max-width: 1336px) {
    padding-bottom: 0px;
  }
  align-items: center;
  justify-content: space-between;
  > div:not(:last-child) {
    margin-right: toRem(40);
  }

  .heading {
    font-size: toRem(19);
    font-weight: 500;
  }

  .boxSwitches {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      margin-right: toRem(77);
    }

    .btnSwitch {
      margin-left: toRem(0);

      > span {
        margin-top: -6px;
        margin-bottom: -6px;
        display: block;
      }
    }
  }
}

.heading {
  font-size: toRem(19);
  font-weight: 500;
  line-height: toRem(24);
  color: rgba(33, 37, 41, 0.870588);
  margin-bottom: 0;
}

.searchResultTable {
  font-size: toRem(21);
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $grayText1;
}

.headingTable {
  padding: toRem(16) toRem(24);
  justify-content: space-between;
  display: flex;
  border-bottom: 0;

  > div {
    width: 100%;
  }
  :global(.MuiButton-root) {
    min-width: toRem(100);
  }
}

.copyButton {
  &:hover {
    svg {
      path:nth-child(2) {
        fill: unset !important;
      }
    }
  }
  svg {
    float: left;
    width: toRem(18.33);
    height: toRem(18.33);
    font-size: toRem(18.33);
    position: relative;
    top: toRem(3);
  }
}

.iconBack {
  color: $bodyText;
  padding: 0;
  width: 6px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: toRem(16);
}
.userTitle {
  margin-bottom: toRem(24);
}
.completeButton {
  padding: 0 toRem(16) 0 toRem(16);
}

.widthName {
  width: toRem(245);
}

.textOm {
  text-align: left;
  & b {
    font-weight: 600;
  }
}
.contentInfo {
  margin-bottom: toRem(-22);
}

.exportBtn,
.exportCsv {
  :global(.MuiButton-startIcon) {
    margin-right: toRem(12);
  }
}

.exportCsv {
  padding: toRem(12) toRem(18);
  opacity: 0;
  pointer-events: none;
}

.cardWrap {
  :global(.RegCard-header),
  :global(.RegCard-body) {
    padding: toRem(24);

    :global(.MuiBox-root) {
      min-width: auto;
    }
  }

  :global(.RegCard-header) {
    line-height: toRem(20);
  }
}

.Field {
  :global(.MuiTypography-root) {
    line-height: toRem(20);
  }
}

.CopyButton {
  padding-left: 4px;
}

.contentInfo {
  + hr {
    margin-top: toRem(24);
    margin-bottom: toRem(24);
  }
}

.boxSwitches {
  &:first-child {
    margin-right: toRem(70);
  }
  :global(.MuiSwitch-root) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.searchResultTable {
  border-radius: 8px;
}

.noMatchTxt {
  font-weight: 500;
  font-size: toRem(14);
  line-height: toRem(20);
  text-align: center;
  color: $defaultDark;
}
