@import "~@protego/sdk/RegtankUI/v1/styles/global.scss";

.TableContent {
  padding-left: toRem(24);
  padding-right: toRem(24);
  min-height: toRem(520);
  :global(.MuiGrid-item) {
    padding-top: toRem(20);
    padding-bottom: toRem(20);
    border-bottom: 1px solid #f4f4f6;
  }
  :global(.MuiGrid-item:nth-child(-n + 2)) {
    padding-top: 0;
  }
  :global(.RegCard-root) {
    border: unset;
  }
}
.tabPadding {
  margin-top: toRem(24);
}
.TextDescription {
  font-size: toRem(14);
  color: #7a7a7a;
}
.ProfileTabContainer {
  background-color: #ffffff;
}
.boxTabPanel {
  background-color: #ffffff;
}

.tabContainer {
  :global(.MuiTabs-indicator) {
    background-color: white;
  }
  :global(.MuiTab-root) {
    text-transform: none;
    min-height: toRem(48);
    @media (min-width: 600px) {
      min-width: unset;
    }
  }
  &:global(.MuiTabs-root) {
    min-height: toRem(48);
  }
}
.lastChild {
  border-bottom: unset !important;
}
.firstChild {
  padding-top: toRem(-20);
}
.tabCustom {
  margin: 0 toRem(24) 0 toRem(24);
  background-color: white;
  border-bottom: 1px solid #f4f4f6;
}
