@import "~@protego/sdk/styles/global/_global-dir";

.p0 {
  padding: 0px;
}
.btnWidth {
  min-width: rem(172px);
}
.textAlignCenter {
  text-align: center;
}
.textNotice {
  color: "#2B2B2B";
  font-weight: 400;
  margin-bottom: rem(32px);
}
